body {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
}

.header {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding-left: 200px;
}

.header-list ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 200px;
}

.awesome {
    display: flex;
    background-color: #1F2937;
    height: 400px;
    justify-content: space-between;
    align-items: center;

}

.left {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    max-width: 350px;
    gap: 8px;
}

.left .first {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.left .second {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    max-width: 120px;
    background-color: rgb(21, 119, 184);
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.right {
    padding-right: 200px;
}

.right .box {
    height: 200px;
    width: 400px;
    color: white;
    background-color: rgb(176, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

.random {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.random .title {
    font-size: 36px;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info .box {
    width: 130px;
    height: 130px;
    border: 3px solid rgb(45, 170, 212);
    border-radius: 12px;
}

.info .text {
    max-width: 140px;
    color: rgb(157, 150, 150);
}

